<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('../extra/head.ejs');%>
</head>
<body>
    <%- include('../extra/admin_head.ejs');%>
    <div class="admin_content">
        <h1 class="lou">USER REQUEST</h1>
      <div class="admin_user1">
      <p  class="ad_con1">USER NAME</p>
        <p id="p" class="ad_con1">E-mail</p></div>
      <div class="admin_user">
        <p id="entity">&#187;</p>
        <p id="see_n" class="ad_con">Bedanta Baruah</p>
        <p id="see_e" class="ad_con">bedantabaruah88@gmail.com</p>
        <a class="ad_con" href="user_view" role="button"> <button class="admin_view">VIEW</button></a>
        <a class="ad_con" href="" role="button"> <button class="admin_view">Delete</button></a>
      </div>
   
    </div>
    <%- include('../extra/script.ejs');%>
</body>
</html>