<nav class="navbar fixed-top navbar-expand-lg  navbar-dark ">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">ADMIN</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div id="ad_nav" class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a id="ad_1" class="nav-link" id="home" aria-current="page" href="admin_profile">USER LIST</a>
          <a id="ad_lo" class="nav-link" id="logout" href="logout">Log out</a>
        </div>
      </div>
    </div>
  </nav>